<section id="main" role="main">

    <div class="container">

        <h1>What did you have for lunch?</h1>

        <% form_remote_tag :html => {:id => "ajaxian", :class => "center span9", :method => "get", :data_type => :json}, :url => url_for(:controller => :pages, :action => :find_dinners) do %>
			<%= text_field_tag "lunch", '', :class => "span8", :required => true %>
			<%= submit_tag "Submit", :id => "submit", :class=> "span1" %>
        <% end %>

		<div id="dinner_list" class="center span9">
		</div>

		<footer class="span4 center">
		    <div id="logo" class="span3 center">
		    </div><!-- end #logo -->
		    <p class="description">
		        Created by
		            <a href="http://bassamtariq.net/" target="_blank">Bassam</a>,
		            <a href="http://gapsintheweb.com/" target="_blank">Robbie</a>,
		            <a href="#" target="_blank">Andrew</a>, &#38;
		            <a href="http://elifbayrasli.com" target="_blank">Elif</a>.
		    </p><!-- end .description -->
		</footer>
    </div> <!-- .container -->
	
	
</section> <!-- end #main -->