<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a><!-- end .btn.btn-navbar-->

      <a class="brand" href="#">Dinner by Way of Lunch</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul><!-- end .nav -->

      </div><!-- .nav-collapse -->
    </div><!-- end .container -->
  </div><!-- end .navbar-inner -->
</nav><!-- end .navbar.navbar-fixed-top -->

<section id="main" role="main">

    <div class="container">

        <% form_remote_tag :html => {:id => "ajaxian", :method => "get", :data_type => :json}, :url => url_for(:controller => :pages, :action => :find_dinners) do %>
			<%= text_field_tag "lunch", '', :placeholder => "What did you have for lunch?", :required => true %>
			<%= submit_tag "Submit" %>
        <% end %>

		<div id="dinner_list">
		</div>
    </div> <!-- .container -->
	
	
</section> <!-- end #main -->